/* ===========   Home page  ========= */
.topsection{
    padding-top: 10rem;
}
.mainaboutcomp{
    margin-top: 300px;
}
.topsection02{
    padding-top: 3rem;

}
@media (max-width: 993px) {
    .topsection{
        padding-top: 3rem !important;
    }
    .mainaboutcomp{
        margin-top: 200px;
    }
}
@media (max-width: 768px) {
    .mainaboutcomp {
        margin-top: 100px;
    }
}
